{% extends 'dashboard/base.html' %} 
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/homework.css' %}">
{% endblock extra_css %}
{% block content %}

<div class="homework-container">
    {% if not homework_done %}
    <div class="homework-table-wrapper">
        <table class="homework-table">
            <thead class="homework-table-head">
                <tr>
                    <th scope="col" class="hw-col-number">#</th>
                    <th scope="col" class="hw-col-subject">Subject</th>
                    <th scope="col" class="hw-col-title">Title</th>
                    <th scope="col" class="hw-col-description">Description</th>
                    <th scope="col" class="hw-col-due">Due</th>
                    <th scope="col" class="hw-col-status">Status</th>
                    <th scope="col" class="hw-col-delete">Delete</th>
                </tr>
            </thead>
            <tbody class="homework-table-body">
                {% for homework in homework %}
                <tr class="homework-row" data-homework-id="{{ homework.id }}">
                    <th scope="row" class="hw-cell-number">{{ forloop.counter }}</th>
                    <td class="hw-cell-subject">{{ homework.subject }}</td>
                    <td class="hw-cell-title">{{ homework.title }}</td>
                    <td class="hw-cell-description">{{ homework.description }}</td>
                    <td class="hw-cell-due">{{ homework.due }}</td>
                    <td class="hw-cell-status">
                        <form method="POST" 
                              action="{% url 'update-homework' homework.id %}" 
                              class="homework-status-form">
                            {% csrf_token %}
                            <div class="homework-checkbox-wrapper">
                                <input class="homework-checkbox-input"
                                       type="checkbox"
                                       id="hw-checkbox-{{ homework.id }}"
                                       onchange="this.form.submit()"
                                       {% if homework.is_finished %}checked{% endif %}>
                                <label class="homework-checkbox-label" 
                                       for="hw-checkbox-{{ homework.id }}">
                                    Mark as Completed
                                </label>
                            </div>
                        </form>
                    </td>
                    <td class="hw-cell-delete">
                        <a href="{% url 'delete-homework' homework.id %}?next=homework" 
                           class="homework-delete-link"
                           title="Delete this homework">
                            <i class="fa fa-trash fa-2x"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="homework-completed-message">
        <div class="completed-icon">
            <i class="fas fa-check-circle"></i>
        </div>
        <h2 class="completed-title">All Homework Completed!</h2>
        <p class="completed-text">Great job! Create new homework below to continue.</p>
    </div>
    {% endif %}
</div>

<div class="homework-container">
    <div class="homework-form-wrapper">
        <form method="POST" class="homework-create-form">
            {% csrf_token %}
            <fieldset class="homework-form-fieldset">
                <legend class="homework-form-legend">Create New Homework</legend>
                <div class="homework-form-fields">
                    {{ form }}
                </div>
            </fieldset>
            <div class="homework-form-actions">
                <button type="submit" class="homework-submit-btn">
                    <i class="fas fa-plus-circle"></i>
                    <span>Create Homework</span>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}