{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/notes.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="row">
        {% for note in notes %}
        <a href="{% url 'notes-detail' note.id %}" class="card">
            <div class="card-header">{{ forloop.counter }}. {{ note.title }}</div>
            <div class="card-body">{{ note.description|slice:":100" }}</div>
            <div class="card-footer">
                <div>
                    <a href="{% url 'delete-note' note.id %}"><i class="fa fa-trash fa-lg"></i></a>
                    <a href="{% url 'notes-detail' note.id %}"><i class="fa fa-edit fa-lg"></i></a>
                </div>
                <div>
                    {% if note.updated_at %}
                        Updated: {{ note.updated_at|date:"M d, Y, H:i" }}
                    {% else %}
                        Created: {{ note.created_at|date:"M d, Y H:i" }}
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<br><br>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Create Note</legend>
        {{ form|crispy }}
        <div class="form-group">
            <button type="submit">Create</button>
        </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
